html, body, div, hgroup, h1, h2, h3, p, a, span{
	margin: 0;
	padding: 0;
}

html{ 
	height: 100%;
	min-height: 100%;
}
@mixin lin-grad{
	background: #F1F2F3;
	background: -moz-linear-gradient(top, #ffffff 20%, #F1F2F3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #ffffff), color-stop(100%, #F1F2F3));
	background: -webkit-linear-gradient(top, #ffffff 20%, #F1F2F3 100%);
	background: -o-linear-gradient(top, #ffffff 20%, #F1F2F3 100%);
	background: -ms-linear-gradient(top, #ffffff 20%, #F1F2F3 100%);
	background: linear-gradient(to bottom, #ffffff 20%, #F1F2F3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#F1F2F3', GradientType=0);
}
body
{
	font-size: 16px;
	font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;

	div#wrapper{ 
		
		margin-top: 20px;
		margin-left: 20px;

		width: 70%;

		/*border: 2px solid #D3D7DA;*/
		
		&>div{ 

			border: 2px solid #D3D7DA;
			

			width: 16%;
			height: 250px;
			/*display: inline-block;*/

			float: left;

			&:nth-of-type(2n){ 
				
				@include lin-grad;
				height: 270px;
			}

			&:nth-of-type(2n+1){ 
				border-right: none;
				border-left: none;
			}

			&:first-of-type{ 
				border-left: 2px solid #D3D7DA;
			}

			&:nth-of-type(1)>hgroup{ 
				background: url('imgs/install.png') no-repeat;
			}

			&:nth-of-type(2)>hgroup{ 
				background: url('imgs/tuneUp.png.png') no-repeat;
			}

			&:nth-of-type(3)>hgroup{ 
				background: url('imgs/manage.png') no-repeat;
			}

			&:nth-of-type(4)>hgroup{ 
				background: url('imgs/openSource.png') no-repeat;
			}

			&:nth-of-type(5)>hgroup{ 
				background: url('imgs/twitter.png') no-repeat;
			}

			&:nth-of-type(6)>hgroup{ 
				background: url('imgs/about.png') no-repeat;
			}

			&>hgroup{ 
				
				background-position: left bottom !important;
				display: table-cell;
				vertical-align: bottom;

				padding-left: 40px;
				height: 40px;

				font-size: 0.7em;

				h2{ 

				}

				h3{ 

				}
			}

			p{ 
				margin-top: 10px;
				margin-left: 5px;
			}

			div{ 
				
				margin-top: 10px;
				margin-left: 5px;

				&.yellowBox{ 
					
					background-color: #FFFFDD;
					border: 1px solid yellow;

					&>a{ 
						display: inline-block;
					}
				}
				
				a{ 
					color: #C72D2F;
					text-decoration: none;
					display: block; 

					span{ 
						
						text-transform: uppercase;
					}
				}

			}

		}

	}
}