body {
  /*text-align: center;*/
  /*margin: 0 auto;*/
  /*font: 10px "Georgia", "Verdana" sans-serif;
  background-color: #b6d7a8;*/ }
  body div#wrapper {
    /*width: 640px;*/ }

@media only screen and (max-width: 1040px) {
  body div#wrapper header nav {
    width: 99%; }
    body div#wrapper header nav ul {
      width: 99%;
      margin: 0 auto;
      text-align: center; }
      body div#wrapper header nav ul li {
        margin: 0;
        padding: 0 10px; }
        body div#wrapper header nav ul li:first-of-type {
          /*margin-right: 50px;*/ }
        body div#wrapper header nav ul li:last-of-type {
          /*margin-left: 50px;*/ } }
@media only screen and (max-width: 640px) {
  body div#wrapper header hgroup h1 {
    text-align: center;
    font-size: 2.5em; }
  body div#wrapper header nav {
    width: 99%; }
    body div#wrapper header nav ul {
      width: 99%;
      margin: 0 auto;
      text-align: center; }
      body div#wrapper header nav ul li {
        border: 1px solid black;
        border-radius: 10px;
        display: block;
        font-size: 1.3em;
        line-height: 30px;
        margin: 0;
        margin-bottom: 5px; }
        body div#wrapper header nav ul li a {
          text-decoration: none; } }

