body {
  /*font: 10px "Georgia", "Verdana" sans-serif;*/
  /*text-align: center;*/ }
  body div#wrapper {
    /*border: 1px solid black;*/
    /*width: 693px;*/ }

@media only screen and (max-width: 1242px) {
  body div#wrapper {
    width: 70%; }
    body div#wrapper .bodySection1 ul {
      text-align: center; }
      body div#wrapper .bodySection1 ul li {
        border-right: none; }
        body div#wrapper .bodySection1 ul li span {
          padding-bottom: 2px;
          border-bottom: 1px solid #b6d7a8; }
    body div#wrapper nav.bodySection2 section.recommendedSection {
      /*position: relative;
      left: 33%;*/
      margin-left: 40%;
      text-align: center;
      border-top: none; }
      body div#wrapper nav.bodySection2 section.recommendedSection h2 {
        padding-bottom: 2px;
        border-bottom: 1px solid #b6d7a8; }
    body div#wrapper nav.bodySection2 section.chatSection {
      /*position: relative;
      right: 25%;*/
      margin-right: 10%; } }
@media only screen and (max-width: 860px) {
  body div#wrapper {
    width: 80%; }
    body div#wrapper .bodySection1 ul {
      margin-left: 0; }
    body div#wrapper nav.bodySection2 section.recommendedSection {
      margin-left: 35%; }
    body div#wrapper nav.bodySection2 section.chatSection {
      /*margin-right:15%;*/
      margin-right: 0;
      width: 99%; } }
@media only screen and (max-width: 660px) {
  body div#wrapper {
    width: 95%; }
    body div#wrapper #mainHeader {
      /*display: block;*/ }
      body div#wrapper #mainHeader h1, body div#wrapper #mainHeader a {
        float: none;
        display: block;
        text-align: center;
        margin-top: 20px; }
      body div#wrapper #mainHeader h1 {
        /*clear: both;*/
        font-size: 2.5rem; }
      body div#wrapper #mainHeader a {
        /*clear: both;*/
        font-size: 1.5rem;
        margin-bottom: 20px; }
    body div#wrapper .bodySection1 ul li span {
      font-size: 1.6rem; }
    body div#wrapper .bodySection2 .recommendedSection h2 {
      font-size: 1.6rem; }
    body div#wrapper .bodySection2 .chatSection {
      height: 100%; }
      body div#wrapper .bodySection2 .chatSection h2, body div#wrapper .bodySection2 .chatSection a {
        display: block;
        float: none;
        text-align: center;
        margin-top: 25px; }
      body div#wrapper .bodySection2 .chatSection h2 {
        font-size: 2rem; }
      body div#wrapper .bodySection2 .chatSection a {
        font-size: 1.5rem;
        margin-bottom: 25px; }
      body div#wrapper .bodySection2 .chatSection article p {
        font-size: 1.2rem; } }

