html, body, div, header, hgroup, h1, h2, h3, nav, ul, li, a, span, img, form, select, option, input, textarea, button, article, section, p {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  min-height: 100%;
  background: #f2f2f2 url(images/page-bg.png) repeat-x 0 0; }

img {
  border: 0;
  max-width: 100%; }

ul {
  list-style-type: none; }
  ul li {
    display: inline-block; }

span, a {
  color: #0c5394;
  font-size: 1.2rem;
  font-weight: bold; }

h1 {
  font-size: 2.5rem;
  font-weight: normal; }

.firstPageHeader, .body, .fifthPageWrapper {
  text-align: center; }

.mainHeader, .mainHeaderFourthPage, .bodySection1 > ul, .bodySection2SecondPage, .bodySection2ThirdPage, #container, #mainNav > li {
  display: inline-block; }

.bodySection2SecondPage, .bodySection2ThirdPage {
  margin-top: 20px;
  margin-left: 1px; }

#optionGroup, #theName, #theEmail {
  width: 300px;
  display: block; }

#theSubject, #theTextArea {
  width: 645px;
  display: block; }
*/
body {
  /*text-align: center;*/
  /*margin: 0 auto;*/
  /*background-color: #b6d7a8;*/
  font: 10px "Georgia", "Verdana" sans-serif;
  width: 99%;
  color: black; }
  body div#wrapper {
    margin: 0 auto;
    width: 60%; }
    body div#wrapper header.firstPageHeader h1 {
      margin-top: 70px;
      margin-bottom: 30px; }
    body div#wrapper header.firstPageHeader nav {
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 25px; }
      body div#wrapper header.firstPageHeader nav ul li {
        margin-right: 100px; }
        body div#wrapper header.firstPageHeader nav ul li:last-of-type {
          margin-right: 0px; }
    body div#wrapper div.body div#imageDiv img {
      padding: 5px 10px;
      border: 1px solid black;
      width: 620px; }
    body div#wrapper .mainHeader {
      margin-top: 15px;
      width: 99%; }
      body div#wrapper .mainHeader h1 {
        float: left;
        margin-left: 10px; }
      body div#wrapper .mainHeader a {
        float: right;
        margin-top: 5px;
        margin-right: 15px; }
    body div#wrapper .mapSection {
      margin-top: 10px;
      text-align: center;
      /*height="166"*/ }
    body div#wrapper .bodySection1 {
      margin-top: 10px;
      margin-left: 1px; }
      body div#wrapper .bodySection1 ul {
        display: inline-block;
        margin-left: 75px;
        /*float: left;*/ }
        body div#wrapper .bodySection1 ul li {
          display: inline-block;
          border-right: 1px solid #b6d7a8;
          margin-left: 20px; }
          body div#wrapper .bodySection1 ul li:first-of-type {
            margin-left: 2px; }
          body div#wrapper .bodySection1 ul li:last-of-type {
            border-right: none;
            /*float: left;*/ }
          body div#wrapper .bodySection1 ul li span {
            display: block; }
          body div#wrapper .bodySection1 ul li div {
            display: inline-block;
            width: 180px;
            height: 150px; }
          body div#wrapper .bodySection1 ul li div.middle {
            width: 220px; }
    body div#wrapper .bodySection2SecondPage .recommendedSection {
      border-top: 1px solid #b6d7a8;
      /*display: inline-block;*/
      float: left;
      /*position: relative;
      top: -100px;*/
      margin-left: 2px;
      width: 33%;
      /*width: 250px;*/ }
      body div#wrapper .bodySection2SecondPage .recommendedSection .container {
        /*width: 250px;*/
        height: 150px; }
      body div#wrapper .bodySection2SecondPage .recommendedSection h2 {
        margin-top: 10px; }
    body div#wrapper .bodySection2SecondPage .chatSection {
      float: right;
      /*display: inline-block;*/
      /*width: 475px;*/
      /*width: 430px;*/
      width: 65%;
      height: 170px;
      border: 1px solid #93c47d;
      background-color: #edf5ea;
      /*float: right;*/
      margin-left: 10px; }
      body div#wrapper .bodySection2SecondPage .chatSection h2, body div#wrapper .bodySection2SecondPage .chatSection article {
        margin-top: 10px;
        margin-left: 10px; }
      body div#wrapper .bodySection2SecondPage .chatSection h2 {
        display: inline-block; }
      body div#wrapper .bodySection2SecondPage .chatSection a {
        float: right;
        margin-top: 15px;
        margin-right: 8px; }
    body div#wrapper .bodySection2ThirdPage {
      width: 99%;
      /*height: 100px;*/
      border: 1px solid black; }
      body div#wrapper .bodySection2ThirdPage #container {
        width: 25%;
        height: 170px;
        border: 1px solid black;
        margin-top: 20px;
        margin-left: 40px;
        margin-bottom: 10px; }
    body div#wrapper .mainHeaderFourthPage {
      width: 101%;
      /*border: 1px solid green;*/
      margin-top: 30px;
      margin-bottom: 30px; }
      body div#wrapper .mainHeaderFourthPage h1 {
        float: left;
        font-weight: normal; }
      body div#wrapper .mainHeaderFourthPage nav {
        float: right;
        margin-top: 5px; }
        body div#wrapper .mainHeaderFourthPage nav ul#mainNav li {
          border-right: 1px solid #676767;
          padding: 4px 10px; }
          body div#wrapper .mainHeaderFourthPage nav ul#mainNav li:last-of-type {
            border-right: none; }
          body div#wrapper .mainHeaderFourthPage nav ul#mainNav li a span {
            font-size: 1rem; }
    body div#wrapper #bodyDiv {
      width: 99%;
      height: 500px;
      border: 1px solid #cccccc;
      background-color: #daead3;
      /*padding: 10px;*/ }
      body div#wrapper #bodyDiv h2, body div#wrapper #bodyDiv select, body div#wrapper #bodyDiv input[type="text"], body div#wrapper #bodyDiv input[type="email"], body div#wrapper #bodyDiv textarea {
        margin-top: 15px;
        margin-left: 15px; }
      body div#wrapper #bodyDiv h2 {
        margin-bottom: 25px; }
      body div#wrapper #bodyDiv form {
        /*#optionGroup{
        	width: 300px;
        	display: block;
        }*/
        /*#theSubject{
        	width: 645px;
        	display: block;
        }*/
        /*#theTextArea{
        	width: 645px;
        	height: 165px;
        }*/ }
        body div#wrapper #bodyDiv form #text-email {
          /*display: inline-block;*/
          margin-top: 15px;
          float: left;
          /*#theName{
          	width: 300px;
          	display: block;
          }*/
          						/*#theEmail{
          
          							width: 300px;
          							display: block;
          						}	*/ }
        body div#wrapper #bodyDiv form #theCheckBox {
          float: right;
          display: block;
          margin-top: 10px;
          margin-right: 20px; }
          body div#wrapper #bodyDiv form #theCheckBox h3 {
            border-bottom: 1px solid #666666;
            color: #666666;
            font-weight: normal;
            font-size: 1.3em;
            margin-bottom: 10px; }
          body div#wrapper #bodyDiv form #theCheckBox input[type="checkbox"] {
            margin-bottom: 10px;
            background-color: #daead3; }
          body div#wrapper #bodyDiv form #theCheckBox span {
            font-size: 1rem;
            position: relative;
            top: -2px; }
        body div#wrapper #bodyDiv form #buttons {
          text-align: center;
          margin-top: 130px;
          margin-bottom: 10px; }
          body div#wrapper #bodyDiv form #buttons button {
            border: 1px solid #666666;
            color: #6b6b6b;
            padding: 5px 20px;
            margin-left: 15px; }
    body div#wrapper h1.fifthPageHeader {
      display: block;
      margin-bottom: 40px;
      margin-top: 80px; }
      body div#wrapper h1.fifthPageHeader span {
        display: block;
        font-size: 2.5rem;
        font-weight: bold; }

