html, body, header, h1, nav, ul, li {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  min-height: 100%; }

body {
  font-size: 20px; }
  body header {
    width: 99%; }
    body header h1 {
      margin-top: 3%;
      margin-left: 1%;
      margin-bottom: 2%;
      font-size: 2.3em; }
    body header nav {
      margin-left: 2s%; }
      body header nav ul {
        list-style-type: none; }
        body header nav ul li {
          float: left;
          font-size: 1.2em;
          margin-right: 5px;
          padding: 5px 15px; }

